body {
    background-color: rgb(220, 226, 226);
    font-family: monospace, Times, serif;
    margin: 40px
    }

h1{
    text-align: center;
    color: rgb(10, 90, 122);
}



/* Project Styling */

h3 {
    text-align: center;
    font-style: italic;
}

.projects { 
    display:flex; flex-wrap:wrap; } /* condensed to save space */
.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: rgb(224, 240, 246); /* pick a color */
border-radius: 25%;
}

.project img{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid rgb(6, 70, 125); /* choose a color */
    display: block;
    margin: auto;
    }

a { /* change the appearance of ALL links */
    text-decoration: none;
    color: rgb(0, 23, 128);
    }
    .project p { /* change the appearance of paragraph tags inside .project divs */
    text-align: center;
    margin: 15px;
    }

p{

}


.about{
    display:flex;
    flex-wrap:wrap;
    margin-right: 100px;
    margin-left: 100px;
    justify-content: center;
    }

.about img {
width: 150px;
height: 200px;
border-radius: 20%;
border: 2px solid rgb(31, 20, 123);
}

.about p {
    width:50%;
    text-align: center;
    margin: auto;
    line-height: 125%;
    }

/* Skills Section Styling */
.skills {
    margin: 40px;
}
